body {
  font-family: 'Poppins', sans-serif;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.button-white {
  background-color: white;
  border-color: white;
}

.button-dark {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.button-white.button-clear,
.button-white.button-outline {
  background-color: transparent;
  color: white;
}

.button-white.button-clear {
  border-color: transparent;
}

.jumbo {
  padding: 100px 20px 100px 20px;
  background-color: #2d2d2d;
  color: #ffffff;
}

.jumbo .logo {
  max-width: 1024px;
  margin: 0 auto;
}

.jumbo .logo img {
  width: 80%;
}

.jumbo #platform {
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.jumbo #platform li {
  display: inline;
  margin: 0px 5px 0px 5px;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
}
.content form {
  text-align: left;
}
.content form h4 {
  margin-top: 25px;
  text-align: center;
}
.content form h5 {
  clear: both;
  margin-bottom: 0px;
}
.content form p {
  margin: 0px 0px 15px 0px;
}
.content .toggles li {
  float: left;
  display: inline;
  margin: 0px 10px 20px 0px;
}
.content .toggles #threads {
  display: none;
  list-style-type: none;
}
.content .toggles .thread-count {
  position: relative;
  font-size: 150%;
  top: 4px;
  cursor: pointer;
  cursor: hand;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.content .profile {
  display: none;
  margin-top: 50px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  word-wrap: none;
}
.content .platform-banner {
  display: none;
  width: 75%;
  margin: 25px auto;
  padding: 10px;
  background: #333;
  color: #fff;
  border-radius: 5px;
}
.content .platform-banner .path {
  margin: 5px 0px 0px 0px;
  font-size: 13px;
  font-weight: bold;
  word-wrap: break-word;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  clear: left;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2d2d2d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d2d2d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.whitelist {
  position: relative;
  list-style-type: none;
  float: left;
  left: -5px;
  right: -5px;
}
.whitelist li {
  position: relative;
  float: left;
  font-size: 125%;
  top: 0px;
  margin: 0px 5px -15px 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  background: #2d2d2d;
  color: #FFF;
}

#paths {
  display: none;
}

input {
  color: #606060;
}

.compile {
  width: 50%;
  margin: 20px auto;
}
